form {
  max-width: 500px;
  width: 90%;
  margin: 20px auto;
  padding: 12px 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

label {
  display: block;

  font-weight: bold;
  color: #333;
  margin-bottom: 2px;
  font-size: 13px;
}

input[type='text'],
input[type='number'],
textarea {
  display: block;
  width: 100%;
  padding: 6px 8px; /* acolchado interno para que el contenido no toque el borde */
  margin-bottom: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 13px;
  resize: vertical;
  min-height: 28px;
}

textarea {
  min-height: 60px; /* altura inicial más compacta */
  max-height: 100px; /* evita que se haga gigante */
  overflow-y: auto; /* scroll solo dentro del textarea */
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 0px;
}
.botones button {
  padding: 6px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s;
}

.botones button:hover {
  background-color: #0056b3;
}
div[style*='color:red'] {
  font-size: 12px;
  color: red;
  margin-top: 2px;
  margin-bottom: 5px;
}
