<div class="container mt-4">
  <h2>Lista de colonos</h2>
  <table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Edad</th>
        <th>Teléfono</th>
        <th>Observaciones</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (colono of colonos; track colono.idColono) {
        <tr>
          <td>{{ colono.idColono }}</td>
          <td>{{ colono.nombre }}</td>
          <td>{{ colono.apellidos }}</td>
          <td>{{ colono.edad }}</td>
          <td>{{ colono.telefono }}</td>
          <td>{{ colono.observaciones }}</td>
          <td>
            <button class="btn btn-sm btn-warning me-1" (click)="editarColono(colono.idColono!)">
              Editar
            </button>
            <button class="btn btn-sm btn-danger" (click)="borrarColono(colono.idColono!)">
              Borrar
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <button class="btn btn-sm btn-primary me-1" (click)="insertarColono()">Insertar</button>
</div>
