<div class="container mt-4">
  <div class="cabecera">
    <h2>Lista de inscripciones</h2>
    <button
      class="btn btn-sm btn-danger"
      (click)="cargarInscripciones()"
      style="margin-right: 10px; padding: 10px; background-color: blueviolet"
    >
      TODOS LOS TURNOS
    </button>

    @for (turno of turnos; track $index) {
      <button
        class="btn btn-sm btn-danger"
        (click)="listarPorTurno(turno)"
        style="margin-right: 10px; padding: 10px; background-color: blueviolet"
      >
        TURNO {{ turno }}
      </button>
    }
  </div>

  <table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Colono</th>
        <th>Turno</th>
        <th>Precio</th>
        <th>Fecha de inscripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (inscripcion of inscripcionesPaginadas; track inscripcion.idInscripcion) {
        <tr>
          <td>{{ inscripcion.idInscripcion }}</td>
          <td>{{ inscripcion.colono.nombre }} {{ inscripcion.colono.apellidos }}</td>
          <td>{{ inscripcion.turno }}</td>
          <td>{{ inscripcion.precio }}</td>
          <td>{{ inscripcion.fechaInscripcion }}</td>

          <td>
            <button
              class="btn btn-sm btn-danger"
              (click)="borrarInscripcion(inscripcion.idInscripcion!)"
            >
              Borrar
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="mt-4" style="text-align: center">
    <button
      class="btn btn-sm me-2"
      (click)="page = page - 1"
      [disabled]="page === 1"
      style="margin-right: 15px; color: white; background-color: rgb(61, 47, 151)"
    >
      ANTERIOR
    </button>
    <span style="color: black; text-align: center; padding: 10px">PÁGINA {{ page }}</span>
    <button
      class="btn btn-sm me-2"
      (click)="page = page + 1"
      [disabled]="page * pageSize >= inscripciones.length"
      style="margin-left: 15px; color: white; background-color: rgb(61, 47, 151)"
    >
      SIGUIENTE
    </button>
  </div>
</div>
